<%= form_for(@time_entry) do |f| %>
  <% if @time_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_entry.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @time_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="duration_field">
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div>
  <div class="date_field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div class="developer_field">
    <%= f.label :developer %>
    <%= f.collection_select :developer_id, Developer.all, :id, :name %>
  </div>
  <div class="project_field">
    <%= f.label :project %><br>
    <%= f.collection_select :project_id, Project.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
