<!DOCTYPE html>
<html>
<head>
  <title>TimeTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class=container>
    <header>
     <nav class = "header">
       <p id = "logout"><%= link_to 'Logout', logout_path %></p>
     </nav>
    </header>

<%= yield %>

    <footer>
       <nav class = "footer">
          <div class = "footer-left-links">
            <ul>
          
            </ul>
          </div>
       </nav>
    </footer>
  </div>
</body>
</html>
